<div class="flex flex-row justify-between p-6 mb-4 shadow-sm">
  <div class="flex justify-between items-center">
    <div>
      <button class="flex items-center" [matMenuTriggerFor]="sortByMenu">
        Sort by: {{sort}}
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #sortByMenu="matMenu">
        <button (click)="onSortUpdate('desc')" mat-menu-item>
        desc
        </button>

        <button (click)="onSortUpdate('asc')" mat-menu-item>
          asc
        </button>
      </mat-menu>
    </div>
  </div>
  <div>
    <div class="flex items-center">
      <button class="flex items-center" [matMenuTriggerFor]="menu">
        Show {{itemsShowCount}}
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="onItemsUpdate(12)" mat-menu-item>
          12
          </button>
          <button (click)="onItemsUpdate(24)" mat-menu-item>
            24
            </button>
            <button (click)="onItemsUpdate(36)" mat-menu-item>
              36
              </button>
      </mat-menu>
    </div>
  
  </div>
 
    <div class="flex items-center">
      <button (click)="onColumnsUpdate(1)" >
        <mat-icon>
          view_list
        </mat-icon>
      </button>
      <button (click)="onColumnsUpdate(3)" >
        <mat-icon>
          view_module
        </mat-icon>
      </button>
      <button (click)="onColumnsUpdate(4)" >
        <mat-icon>
          view_comfy
        </mat-icon>
      </button>
    </div>
  </div>