<mat-drawer-container class="flex" autosize
class="min-h-full max-w-7x1 mx-auto border-x">
    <mat-drawer #drawer class="sidenav" opened mode="side" class="p-6">

      <!-- Filter -->
      <app-filters (showCategory)="onShowCategory($event)"></app-filters>
    
    </mat-drawer>
  
    <div class="p-6">
      <button type="button" (click)="drawer.toggle()">
        nav
      </button>
    </div>
    <app-cards-header (columnsCountChange)="onColumnsCountChange($event)"></app-cards-header>
    {{cols}}  
    <mat-grid-list

    gutterSize="16"
    [cols]="cols"
    [rowHeight]="rowHeight"
  >
    <mat-grid-tile *ngFor="let item of items">
      <app-item-box
      [item]="item"
      class="w-full" 
      [fullWidthMode]="
      cols === 1">
      </app-item-box>
    </mat-grid-tile>
   
  </mat-grid-list>
  </mat-drawer-container>

  